.statList {
  display: flex;
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
  padding: 15px;
  color: white;
}

.item:first-child {
  border-bottom-left-radius: 10px;
}

.item:last-child {
  border-bottom-right-radius: 10px;
}

.label {
  font-size: 12px;
  margin-bottom: 5px;
}

.percentage {
  font-weight: 700;
}
